.contact__phone img {
  max-width: 24px;
  max-height: 24px;
}

.contact__email {
  max-width: 24px;
  max-height: 24px;
}

.contact__form input:active,
.contact__form input:focus {
  border: none;
  outline: none;
  border-bottom: 1.7px solid var(--color-app-red);
}
.form__name {
  border: none;
  border-bottom: 1px solid var(--color-app-dark);
  height: 44px;
  transition: 0.5s linear;
}
.form__email {
  border: none;
  border-bottom: 1px solid var(--color-app-dark);
  height: 44px;
  transition: 0.5s linear;
}
.contact__message {
  border-radius: 8px;
  font-size: 20px;
  padding: 4px;
  min-height: 200px;
  border: 1px solid var(--color-app-dark);
}
.contact__message:focus,
.contact__message:active {
  border: 1.7px solid var(--color-app-red);
  outline: none;
}
.popup {
  background-color: #ffffff;
  color: #ffffff;
  z-index: 9;
  position: fixed;
  top: 0;
  width: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 54px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.popup--show-success {
  background-color: #2fdd92 !important;
}
.popup--show-error {
  background-color: #ff5252 !important;
}
.popup__message {
  margin: 0;
}
