.post__image-loading {
  height: 230px;
  background-color: #ffffff;
  animation: loading-background 1s infinite;
}

.post__date-loading {
  height: 14px;
  width: 40%;
  background-color: #ffffff;
  border-radius: 8px;
  animation: loading-background 1s infinite;
}

.post__title-loading {
  height: 24px;
  width: 80%;
  background-color: #ffffff;
  border-radius: 8px;
  animation: loading-background 1s infinite;
}

.post__description-loading {
  height: 48px;
  background-color: #ffffff;
  border-radius: 8px;
  animation: loading-background 1s infinite;
}

@media screen and (min-width: 768px) {
  .post__image-loading {
    height: 406.13px;
    background-color: #ffffff;
    animation: loading-background 1s infinite;
  }
  .post__date-loading {
    height: 18px;
    width: 40%;
    background-color: #ffffff;
    border-radius: 8px;
    animation: loading-background 1s infinite;
  }

  .post__title-loading {
    height: 30px;
    width: 80%;
    background-color: #ffffff;
    border-radius: 8px;
    animation: loading-background 1s infinite;
  }

  .post__description-loading {
    height: 60px;
    background-color: #ffffff;
    border-radius: 8px;
    animation: loading-background 1s infinite;
  }
}
